.footer {
    background-color: white;
}

.content {
    margin-top: -45px;
    height: 100%;
    display: flex;
    justify-content: center;
}

.footer-text {
    font-family: 'Open Sans', sans-serif;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}


.footer-img {
    margin-left: -25px;
    margin-right: -25px;

    max-width: 100px;
    min-width: 100px;
    max-height: 100px;
    min-height: 100px;
    background: url('/static/footer.png') no-repeat 0 0;
    opacity: 0.8;
}

.footer-img:hover {
    background-position: -2800px 0;
    transition: background 1s steps(28);
}

.commento {
    background: url('/static/commento.svg') no-repeat 0 0;
    opacity: 0.1;
    width: 10px;
    height: 10px;
    margin-top: 45px;
    margin-left: 10px;
    transition: all 0.2s ease;
}

.commento:hover {
    opacity: 0.2;
}